$color-white: #ffffff;
$color-black: #181818;
$text-color: $color-black;
$header-text-color: $color-white;
$bg-color: #f3f3f3;
$bg-grid: #f2f2f2;
$primary-color: #f6c434;
$font: 'Poppins', sans-serif;